# No prerequisites.
#
cx_Oracle
pymysql
psycopg2
pyodbc
#
# For pymssql and ibm_db, Microsoft Visual C++ 14.0 is required.
# Get it with "Microsoft Visual C++ Build Tools":
# http://landinghub.visualstudio.com/visual-cpp-build-tools
#
pymssql
ibm_db
