# requirements.txt

# REPOSITORY: https://github.com/DavidJLambert/Python-Universal-DB-Client
#
# AUTHOR: David J. Lambert
#
# VERSION: 0.6.4
#
# DATE: Mar 26, 2020
#
# DATABASE CONNECTION LIBRARIES:

cx_Oracle # Oracle
pymysql   # MySQL
# pymssql   # Microsoft SQL Server
psycopg2  # PostgreSQL
pyodbc    # Microsoft Access
# turbodbc  # Microsoft Access
# sqlite3 # SQLite, already part of the Python Standard Library.

# OTHER STUFF:

pytest
psutil
